In [1]:
from pprint import pprint
import numpy as np
import scipy.stats as stats
import csv
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns 
import numpy as np
from pylab import *
import keyword

# this line tells jupyter notebook to put the plots in the notebook rather than saving them to file
%matplotlib inline

# this line makes plots prettier on mac retina screens - if you don't have one it shouldn't do anything
%config InlineBackend.figure_format = 'retina'

In [2]:
df = pd.read_csv('2021-7.csv')

In [3]:
df.head(2)

,headline,date,abstract,snippet,lead_paragraph,print_section,print_page,news_desk,word_count,subsection_name,document_type,type_of_material,section_name,byline,keywords
0,"From Google, on Its Advertising Tech Business",2021-07-01,“Our research shows that publishers’ revenue i...,“Our research shows that publishers’ revenue i...,To the Editor:,A,20.0,Letters,276,Letters,article,Letter,Opinion,"{'original': '', 'person': [], 'organization':...","['Online Advertising', 'Advertising and Market..."
1,The N.B.A. Champion May Be the Last Team Standing,2021-07-01,Injuries to stars have dominated and reshaped ...,Injuries to stars have dominated and reshaped ...,The Milwaukee Bucks were in the midst of a com...,B,7.0,Sports,1508,Pro Basketball,article,News,Sports,"{'original': 'By Sopan Deb and Marc Stein', 'p...","['Sports Injuries', 'Basketball', 'Playoff Gam..."

In [4]:
for val in list(df.columns):
    print(val + ': ',  df[val].isna().sum())

headline:  0
date:  0
abstract:  2
snippet:  80
lead_paragraph:  11
print_section:  946
print_page:  946
news_desk:  75
word_count:  0
subsection_name:  1454
document_type:  0
type_of_material:  0
section_name:  85
byline:  0
keywords:  0

In [5]:
# drop columns 
df.drop(columns = ['snippet', 'print_section', 'print_page', 'byline', 'news_desk'], inplace = True)

In [6]:
df.shape

(2378, 10)

In [7]:
for val in list(df.columns):
    print(val + ': ',  df[val].isna().sum())

headline:  0
date:  0
abstract:  2
lead_paragraph:  11
word_count:  0
subsection_name:  1454
document_type:  0
type_of_material:  0
section_name:  85
keywords:  0

In [8]:
# drop and fill NaN rows
# df = df[df['news_desk'].notna()]
df = df[df['abstract'].notna()]
df = df[df['lead_paragraph'].notna()]
df = df[df['section_name'].notna()]

In [9]:
for val in list(df.columns):
    print(val + ': ',  df[val].isna().sum())

headline:  0
date:  0
abstract:  0
lead_paragraph:  0
word_count:  0
subsection_name:  1363
document_type:  0
type_of_material:  0
section_name:  0
keywords:  0

In [10]:
df.head()

,headline,date,abstract,lead_paragraph,word_count,subsection_name,document_type,type_of_material,section_name,keywords
0,"From Google, on Its Advertising Tech Business",2021-07-01,“Our research shows that publishers’ revenue i...,To the Editor:,276,Letters,article,Letter,Opinion,"['Online Advertising', 'Advertising and Market..."
1,The N.B.A. Champion May Be the Last Team Standing,2021-07-01,Injuries to stars have dominated and reshaped ...,The Milwaukee Bucks were in the midst of a com...,1508,Pro Basketball,article,News,Sports,"['Sports Injuries', 'Basketball', 'Playoff Gam..."
2,"A poll reveals another U.S. vaccine divide, th...",2021-07-01,Workers were more likely to get a shot when th...,A new poll has found that Americans are sharpl...,420,NaN,article,News,U.S.,"['Vaccination and Immunization', 'Paid Time Of..."
3,Judge Blocks Florida Law Regulating Social Med...,2021-07-01,"It would fine companies like Facebook, YouTube...",A judge on Wednesday blocked a Florida law tha...,262,NaN,article,News,Technology,"['Social Media', 'Censorship', 'Computers and ..."
4,James Franco Agrees to Pay $2.2 Million to Set...,2021-07-01,Two former students of Mr. Franco’s acting sch...,The actor James Franco has agreed to pay more ...,680,NaN,article,News,U.S.,"['Suits and Litigation (Civil)', 'Compensation..."

In [ ]:
# functio that can print unique values of any columns
def find_unique_values(col):
    index = 1
    for col in df:
        print(index, col + '\n',  df[col].unique())
        print('---------------------------')
        index += 1

find_unique_values(0)

In [ ]:
df.shape